{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Levi Ackerman</h1>
        <p>
            Levi se mostró por primera vez cuando Eren, Armin, Franz y Hannah paseaban por el Distrito Trost el día
            después de su graduación observando cómo Levi, junto al Cuerpo de Exploración, parte hacia las afueras de la
            ciudad. Él parece enojarse al escuchar a varios civiles mencionando que él es tan fuerte como una brigada
            entera. En ese momento, Hange le menciona a Levi que las personas no lo adorarían tanto si supieran que es
            un fanático de la limpieza con un trastorno obsesivo compulsivo.
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/img02.jpg" class="img-thumbnail">
    </div>


</div>





{{> footer }}